* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fcfcfc;
  color: #4a4a4a;
}

#main-header {
  font-size: 12pt;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 50px;
}

#main-content__wrapper {
  display: grid;
  margin: 25px 50px;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.main-content__item {
  background: #ffffff;
  border: solid 2px #dfdfdf;
  border-radius: 5px;
  transition: .5s ease;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-content__item:hover {
  background: #4a4a4a;
  color: #ffffff;
  border-color: #ffffff;
}

.employee-popup-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-avatar {
  border-radius: 50%;
  padding: 25px;
}

.line {
  border-width: 2px;
  color: #dfdfdf;
  width: 100%;
}

.name,
.city,
.address {
  text-transform: capitalize;
}

.email,
.city,
.phone,
.address,
.birthday {
  font-size: 11pt;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #dfdfdf;
    border-radius: 8px;
    width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
